<div class="content_block container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Excerpt</th>
        <th>Main Image</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @news_stories.each do |ns| -%>
        <tr>
          <td><%= link_to ns.title, edit_news_story_path(ns) %></td>
          <td><%= ns.publication_status.titlecase %></td>
          <td><%= ns.excerpt.to_s %></td>
          <td><%= image_tag ns.main_news_story_image.url(:thumb) %></td>
          <td><%= link_to 'view', ns, target: '_blank' %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
