<%= form_for(@dj) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= error_explanation(@dj) %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :name, class: 'control-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div><!-- col -->

    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :tag_line, class: 'control-label' %>
        <%= f.text_field :tag_line, class: 'form-control' %>
      </div>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :bio, 'Full bio', class: 'control-label' %><small> this will appear on the DJs page</small>
        <%= f.bootsy_area :bio, class: 'form-control' %>
      </div>
    </div><!-- col -->
  </div><!-- row -->
  
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :short_bio, class: 'control-label' %><small> this will appear on the list of DJs</small>
        <%= f.text_field :short_bio, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :keywords, class: 'control-label' %><small> separate with commas</small>
        <%= f.text_field :keywords, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="well">
    <%= image_select(f, :head_shot, version: :small) %><!-- row -->
  </div>

  <!--<div class="well">-->
    <%#= image_select(f, :slider_image, version: :small) %><!-- row -->
  <!--</div>-->


  <div class="row">
    <div id="show_information_col" class="col-sm-8">
      <h3>Show Information</h3>

      <%= render partial: 'shows/embedded_form', locals: {form_builder: f} %>
    </div><!-- col -->

    <div class="col-sm-4">
      <h3>Options</h3>
      <div class="form-group">
        <%= f.label :email, class: 'control-label' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :phone, class: 'control-label' %><small> this will not appear on public-facing pages</small>
        <%= f.phone_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :facebook_url, class: 'control-label' %>
        <%= f.text_field :facebook_url, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :twitter_url, class: 'control-label' %>
        <%= f.text_field :twitter_url, class: 'form-control' %>
      </div>
    </div><!-- col -->

    <!--<div class="col-sm-4">-->
    <!--</div>&lt;!&ndash; col &ndash;&gt;-->
  </div><!-- row -->

  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
<!---->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>

        <%= link_to 'Delete', @dj, method: :delete, class: 'btn btn-danger' unless @dj.new_record? %>
      </div>
    </div><!-- col -->
  </div><!-- row -->
<% end %>
