<div class="social_networking_links">
  <%= link_to dj.facebook_url, target: '_blank' do %>
    <%= image_tag 'social_networking/small_facebook.png' %>
  <% end if dj.facebook_url %>

  <%= link_to dj.twitter_url, target: '_blank' do %>
    <%= image_tag 'social_networking/twitter_small.png' %>
  <% end if dj.twitter_url %>

  <%= mail_to dj.email, target: '_blank' do %>
    <%= image_tag 'social_networking/small_mail.png' %>
  <% end if dj.email %>
</div>