<div class="social_networking_links">
  <% if dj.facebook_url -%>
    <%= link_to dj.facebook_url, target: '_blank' do %>
      <%= image_tag 'social_networking/small_facebook.png' %>
    <% end %>
  <% end -%>

  <% if dj.twitter_url -%>
    <%= link_to dj.twitter_url, target: '_blank' do %>
      <%= image_tag 'social_networking/small_twitter.png' %>
    <% end %>
  <% end -%>

  <%= mail_to dj.email do %>
    <%= image_tag 'social_networking/small_mail.png' %>
  <% end if dj.email %>
</div>