<div id="djs" class="block_list">
  <h1>Our DJs</h1>
  <% @djs.in_groups_of(2) do |dj_group| %>
    <div class="row list_row">
      <% dj_group.each do |dj| %>
        <div class="col-md-6 list_col">
          <% if dj -%>
            <div class="list_item">
              <div class="image_cell">
                <%= image_tag dj.head_shot.url(:medium), class: 'featured_image' %>
              </div>

              <div class="info_cell">

                <div class="info">
                  <div class="title">
                    <%= link_to dj.name, dj %>

                  </div>

                  <div class="tag_line">
                    <%= dj.tag_line %>
                  </div>

                  <div class="description">
                    <%= dj.short_bio.to_s %>
                  </div>

                  <hr>

                  <%= render partial: 'social_networking_links', locals: {dj: dj} %>
                </div>
              </div>

            </div>
          <% end -%>

          <!--<div class="clearfix"></div>-->

        </div><!-- col -->
      <% end %>
    </div><!-- row -->
  <% end %><!-- groups -->
</div>

<% content_for :side_bar do %>
  <%= render :partial => 'events/embedded_monthly' %>
<% end %>

<script>
  raiseAndLowerElement('.social_networking_links img');
</script>