<% head_info(@dj.name, @dj.short_bio, @dj.head_shot.url, 'profile', 'http://www.killergreenradio.com',
             dj_url(@dj), keywords: @dj.keywords, additional_meta_tags: {'fb:profile' => @dj.facebook_page}) %>

<%= quick_options ['Edit', edit_dj_path(@dj)] if user_is_admin? %>


<h1>
  <%= @dj.name%>
  <div class="pull-right">
    <%= render partial: 'social_networking_links', locals: {:dj => @dj} %>
  </div>
</h1>

<div id="dj" class="article">
  <div class="article_content">
    <%= link_to @dj.head_shot.url, target: '_blank' do -%>
      <%= image_tag @dj.head_shot.url(:medium), class: 'article_image' %>
    <% end if @dj.head_shot? %>

    <% unless @dj.show.nil? -%>

      <h4><small>Host of </small><%= @dj.show.name.to_s %></h4>
      <well>
        <%= @dj.show.description.to_s.html_safe %>
      </well>
      <h4>Bio</h4>
      <%= @dj.bio.to_s.html_safe %>
    <% end -%>
  </div>

  <div class="facebook_comments">
    <%= facebook_comments(dj_url(@dj)) %>
  </div>
</div>

<% content_for :side_bar do %>
  <%= render :partial => 'events/embedded_monthly' %>
<% end %>


<script>
  raiseAndLowerElement('.social_networking_links img');
</script>