<%= form_for(@event) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= error_explanation @event %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :name, class: 'control-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div><!-- col -->

    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :start_time, 'Starts', :class => 'control-label' %>
        <%= f.text_field :start_time, :class => 'datetimepicker form-control' %>
      </div>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :description, class: 'control-label' %>
        <%= f.bootsy_area :description, class: 'form-control' %>
      </div>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :keywords, class: 'control-label' %>
        <%= f.text_area :keywords, class: 'form-control' %>
      </div>
    </div><!-- col -->
  </div><!-- row -->

  <%= image_select f, :main_image, :version => :small %><!-- row -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('.datetimepicker').datetimepicker();
</script>
