<%= form_for(@event) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= error_explanation @event %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="publication_status" class="form-group">
        Status: <strong><%= @event.publication_status %></strong>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">


      <div class="form-group">
        <%= f.label :name, class: 'control-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div><!-- col -->

    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :start_time, :class => 'control-label' %><br>
        <%= f.datetime_select :start_time, :class => 'form-control' %>
        <!--<div class="input-group datetimepicker">-->
          <%#= f.text_field :start_time, :class => 'form-control'%>
          <!--<span class="input-group-addon">-->
            <!--<span class="glyphicon glyphicon-calendar"></span>-->
          <!--</span>-->
        <!--</div>-->
      </div>
    </div>

    <!--<div class="col-sm-4"></div>&lt;!&ndash; col &ndash;&gt;-->
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :description, class: 'control-label' %>
        <%= f.bootsy_area :description, class: 'form-control' %>
      </div>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :keywords, class: 'control-label' %>
        <%= f.text_field :keywords, class: 'form-control' %>
      </div>
    </div><!-- col -->
  </div><!-- row -->

  <div class="well">
    <%= image_select f, :main_image, :version => :small %><!-- row -->
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h4>Location</h4>
      <%= render :partial => 'addresses/form', :locals => {:form_builder => f} %>
    </div><!-- col -->

    <div class="col-sm-4">
      <div class="form_group">
        <h4>DJs Attending</h4>
        <div class="checkbox_container">
          <%= collection_check_boxes :event, :user_ids, Dj.all, :user_id, :name %>
        </div>
      </div>
    </div><!-- col -->

    <div class="col-sm-4">
      <h4>Options</h4>
      <div class="form-group">
        <%= f.label :facebook_event_link, class: 'control-label' %>
        <%= f.text_field :facebook_event_link, class: 'form-control' %>
      </div>
    </div><!-- col -->
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= sdad_button_row(@event, f) %>

      </div>
    </div>
  </div>
<% end %>

<script>
//  $('.datetimepicker').datetimepicker();
</script>
