<style>
  body{
    background-image: image_path();
  }
</style>

<div class="row">
  <div class="col-md-12">
    <%= quick_options ['New', new_event_path] if user_is_admin? %>

  </div>
</div>

<div id="full_calendar">


  <%= month_calendar :events => @events, day_names: "date.day_names" do |d, e| %>
    <%= content_tag :div, class: "calendar_date#{' has_event' if e.count > 0}" do %>
      <%= d.strftime('%e') %>

      <ul class="event_list">
        <% e.each do |event| -%>
          <li class="calendar_event">
            <%= link_to event.name, event %>
            <% if user_is_admin? -%>
              <small><%= event.publication_status %></small>
            <% end -%>
          </li>
        <% end -%>

      </ul>
    <% end %>
  <% end %>
</div>
