<% head_info(@event.name, @event.description.to_s.html_safe, @event.main_image.url, 'article', 'Killer Green Radio', event_path(@event),
             keywords: @event.keywords) %>

<%= quick_options ['Edit', edit_event_path(@event)] if user_is_admin? %>

<h1>
  <%= @event.name %>
  <% if user_is_admin? -%>
    <small><%= @event.publication_status %></small>
  <% end -%>
</h1>


<div>
  <%= render :partial => 'parts/social_networking/share_on_social_networking' %>
</div>


<div id="event" class="article">

  <div class="article_content">
    <%= link_to @event.main_image.url, target: '_blank', class: 'article_image' do %>
      <%= image_tag @event.main_image.url(:medium) %>
    <% end if @event.main_image? %>

    <div>
      <%= @event.description.to_s.html_safe %>
    </div>
  </div>

  <div class="event_map">
    <% if @event.address && @event.address.geocoded? -%>
      <!--<h4>Location</h4>-->
      <%#= @event.address.google_embedded_map(GOOGLE_MAPS_API_KEY, zoom: 5) %>
    <% end -%>
  </div>

  <div class="facebook_comments">
    <%= facebook_comments(event_url(@event)) %>
  </div>
</div>

<% content_for :side_bar do %>
  <% unless @event.djs_attending.empty? -%>
    <h4>Meet!</h4>
    <%= render partial: 'djs/list', locals: {djs: @event.djs_attending} %>
  <% end -%>




  <%#= render :partial => 'events/embedded_monthly' %>
<% end %>

