<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'parts/head' %>
</head>
<body>

<%= render partial: 'parts/header' %>
<%= render partial: 'parts/top_nav' %>
<%= render partial: 'parts/the_flash' %>

<div class="container" id="content_container">
  <%= yield %>
</div><!-- content_container -->
</body>
</html>
