<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'parts/head' %>
</head>
<body>
  <%= render partial: 'parts/top_nav' %>

  <div class="banner_ad container-fluid">
    <div class="ad_slug text-center">
      Buy some advertising space here!!!!
    </div>

  </div>

  <%= render partial: 'parts/header' %>
  <%= render partial: 'parts/the_flash' %>

  <%= content_for :top_banner %>

  <div class="container" id="content_container">
    <div class="row">
      <div class="col-md-8" id="main_content">
        <%= yield %>
      </div><!-- main_content -->

      <div class="col-md-4" id="right_side_bar">
        <div class="right_side_1">
          <div class="ad_slug text-center">
            <%= image_tag 'demo/420.gif', width: '100%' %>
            Buy some advertising space here!!!!
          </div>
        </div>
        <div class="right_side_2">
          <%= content_for :right_side_2 %>

        </div>
        <div class="right_side_3">
          <%= content_for :right_side_3 %>
        </div>
        <div class="right_side_4">
          <%= content_for :right_side_4 %>
        </div>
        <div class="right_side_5">
          <%= content_for :right_side_5 %>
        </div>

        <%#= content_for :side_bar %>
      </div><!-- side_content -->
    </div><!-- content row -->
  </div><!-- content_container -->

  <%= render partial: 'parts/footer' %>
</body>
</html>
