<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'parts/head' %>
</head>
<body>
  <%= render partial: 'parts/top_nav' %>

  <%= render partial: 'parts/header' %>
  <%= render partial: 'parts/the_flash' %>

  <%= content_for :top_banner %>

  <div class="container" id="content_container">
    <div class="row">
      <div class="col-md-8" id="main_content">
        <%= yield %>
      </div><!-- main_content -->

      <div class="col-md-4" id="side_content">
        <%= content_for :side_bar %>
      </div><!-- side_content -->
    </div><!-- content row -->
  </div><!-- content_container -->

  <%= render partial: 'parts/footer' %>
</body>
</html>
